{#
Default toggle position.

parameters:
    - toggle_position: position of toggle depending on website
#}
{% if is_granted('ROLE_ADMIN') %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/fivebutton.css') }}">
    {% endblock %}
{% endif %}
<div class="tw-toggle responsive-toggle">
    <input title="posts" {% if toggle_position == 'posts_position' %}checked{% endif %}
            type="radio" name="toggle" value="false" onclick="location.href='{{ url('post_index') }}';">
    <label class="toggle toggle-yes">{{ 'label.posts'|trans }}</label>
    <input title="todo-list" {% if toggle_position == 'todoitem_position' %}checked{% endif %}
            type="radio" name="toggle" value="-1" onclick="location.href='{{ url('todoitem_index') }}';">
    <label class="toggle toggle-yes">{{ 'label.to-do_list'|trans }}</label>
    <input title="category" {% if toggle_position == 'category_position' %}checked{% endif %}
            type="radio" name="toggle" value="true" onclick="location.href='{{ url('category_index') }}';">
    <label class="toggle toggle-yes" style="padding-right: 3px;">{{ 'label.category_manager'|trans }}</label>

    {% if is_granted('ROLE_ADMIN') %}
        <input title="users" {% if toggle_position == 'users_position' %}checked{% endif %}
               type="radio" name="toggle" value="3" onclick="location.href='{{ url('user_index') }}';">
        <label class="toggle toggle-yes">{{ 'label.user_manager'|trans }}</label>

        <input title="tags" {% if toggle_position == 'tag_position' %}checked{% endif %}
               type="radio" name="toggle" value="4" onclick="location.href='{{ url('tag_index') }}';">
        <label class="toggle toggle-yes">{{ 'label.tags'|trans }}</label>
    {% endif %}
    <span></span>
</div>
